# Auto detect text files and perform LF normalization
* text=auto
graduation/Assets/場景[[:space:]]2-1/* filter=lfs diff=lfs merge=lfs -text
graduation/Assets/場景2-1.fbx filter=lfs diff=lfs merge=lfs -text
git lfs track ".fbx"
git lfs track ".blend"
git lfs track ".psd"
git lfs track ".png"
git lfs track ".tga"
git lfs track ".wav"
git lfs track ".mp3"
git lfs track ".mp4"
git lfs track "*.unitypackage"
